In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from datetime import timedelta

In [9]:
data_raw = pd.read_csv('tesla_bnd_spy_cleaned_data.csv', header=None)
print(data_raw.head())

                          0                   1                   2   \
0                      Price           Adj Close           Adj Close
1                     Ticker                 BND                 SPY
2                       Date                 NaN                 NaN
3  2015-01-02 00:00:00+00:00  63.358760833740234  173.17376708984375
4  2015-01-05 00:00:00+00:00   63.54275131225586  170.04629516601562

                   3                  4                   5   \
0           Adj Close              Close               Close
1                TSLA                BND                 SPY
2                 NaN                NaN                 NaN
3  14.620667457580566   82.6500015258789  205.42999267578125
4  14.005999565124512  82.88999938964844  201.72000122070312

                   6                  7                  8   \
0               Close               High               High
1                TSLA                BND                SPY
2                 NaN                NaN                NaN
3  14.620667457580566  82.69000244140625  206.8800048828125
4  14.005999565124512  82.91999816894531  204.3699951171875

                   9                  10                  11  \
0                High                Low                 Low
1                TSLA                BND                 SPY
2                 NaN                NaN                 NaN
3  14.883333206176758  82.41999816894531  204.17999267578125
4  14.433333396911621  82.69999694824219  201.35000610351562

                   12                 13                 14  \
0                 Low               Open               Open
1                TSLA                BND                SPY
2                 NaN                NaN                NaN
3   14.21733283996582  82.43000030517578  206.3800048828125
4  13.810667037963867  82.73999786376953  204.1699981689453

                   15       16         17        18
0                Open   Volume     Volume    Volume
1                TSLA      BND        SPY      TSLA
2                 NaN      NaN        NaN       NaN
3  14.857999801635742  2218800  121465900  71466000
4  14.303333282470703  5820100  169632600  80527500

In [ ]:
data_clean = pd.read_csv(
    'tesla_bnd_spy_cleaned_data.csv',
    header=2,  
    parse_dates=['Date'],  
    index_col=0 
)

# Check the first few rows to confirm
print(data_clean.head())

                           Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
Date
2015-01-02 00:00:00+00:00   63.358761  173.173767   14.620667   82.650002
2015-01-05 00:00:00+00:00   63.542751  170.046295   14.006000   82.889999
2015-01-06 00:00:00+00:00   63.726738  168.444611   14.085333   83.129997
2015-01-07 00:00:00+00:00   63.765091  170.543655   14.063333   83.180000
2015-01-08 00:00:00+00:00   63.665394  173.569977   14.041333   83.050003

                           Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  \
Date
2015-01-02 00:00:00+00:00  205.429993   14.620667   82.690002  206.880005
2015-01-05 00:00:00+00:00  201.720001   14.006000   82.919998  204.369995
2015-01-06 00:00:00+00:00  199.820007   14.085333   83.379997  202.720001
2015-01-07 00:00:00+00:00  202.309998   14.063333   83.279999  202.720001
2015-01-08 00:00:00+00:00  205.899994   14.041333   83.110001  206.160004

                           Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  \
Date
2015-01-02 00:00:00+00:00   14.883333    82.419998   204.179993    14.217333
2015-01-05 00:00:00+00:00   14.433333    82.699997   201.350006    13.810667
2015-01-06 00:00:00+00:00   14.280000    83.029999   198.860001    13.614000
2015-01-07 00:00:00+00:00   14.318667    83.050003   200.880005    13.985333
2015-01-08 00:00:00+00:00   14.253333    82.970001   203.990005    14.000667

                           Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
Date
2015-01-02 00:00:00+00:00    82.430000   206.380005    14.858000      2218800
2015-01-05 00:00:00+00:00    82.739998   204.169998    14.303333      5820100
2015-01-06 00:00:00+00:00    83.029999   202.089996    14.004000      3887600
2015-01-07 00:00:00+00:00    83.139999   201.419998    14.223333      2433400
2015-01-08 00:00:00+00:00    83.110001   204.009995    14.187333      1873400

                           Unnamed: 17  Unnamed: 18
Date
2015-01-02 00:00:00+00:00    121465900     71466000
2015-01-05 00:00:00+00:00    169632600     80527500
2015-01-06 00:00:00+00:00    209151400     93928500
2015-01-07 00:00:00+00:00    125346700     44526000
2015-01-08 00:00:00+00:00    147217800     51637500